services/__pycache__/__init__.cpython-310.pyc
services/__pycache__/asr_service.cpython-310.pyc
services/__pycache__/llm_service.cpython-310.pyc
services/__pycache__/tts_service.cpython-310.pyc
static/live2d_models/10991/10991.cdi3.json
static/live2d_models/10991/10991.moc3
static/live2d_models/10991/10991.model3.json
static/live2d_models/10991/10991.physics3.json
static/live2d_models/10991/10991.vtube.json
static/live2d_models/10991/chibang.exp3.json
static/live2d_models/10991/guanghuan.exp3.json
static/live2d_models/10991/heilian.exp3.json
static/live2d_models/10991/items_pinned_to_model.json
static/live2d_models/10991/jiyan.exp3.json
static/live2d_models/10991/piaodai.exp3.json
static/live2d_models/10991/qian.exp3.json
static/live2d_models/10991/yihuo.exp3.json
static/live2d_models/10991/10991.4096/texture_00.png
static/live2d_models/10991/10991.4096/texture_01.png
static/live2d_models/10991/10991.4096/texture_02.png
static/live2d_models/hiyori_free_t08/hiyori_free_t08_old.cdi3.json
static/live2d_models/hiyori_free_t08/hiyori_free_t08.cdi3.json
static/live2d_models/hiyori_free_t08/hiyori_free_t08.moc3
static/live2d_models/hiyori_free_t08/hiyori_free_t08.model3.json
static/live2d_models/hiyori_free_t08/hiyori_free_t08.physics3.json
static/live2d_models/hiyori_free_t08/icon.jpg
static/live2d_models/hiyori_free_t08/ReadMe.txt
static/live2d_models/hiyori_free_t08/hiyori_free_t08.2048/texture_00.png
static/live2d_models/hiyori_free_t08/motion/hiyori_m01.motion3.json
static/live2d_models/hiyori_free_t08/motion/hiyori_m02.motion3.json
static/live2d_models/hiyori_free_t08/motion/hiyori_m03.motion3.json
static/live2d_models/hiyori_free_t08/motion/hiyori_m04.motion3.json
static/live2d_models/hiyori_free_t08/motion/hiyori_m05.motion3.json
static/live2d_models/hiyori_free_t08/motion/hiyori_m06.motion3.json
static/live2d_models/hiyori_free_t08/motion/hiyori_m07.motion3.json
static/live2d_models/hiyori_free_t08/motion/hiyori_m08.motion3.json
static/live2d_models/Nahida_1080/Angry.exp3.json
static/live2d_models/Nahida_1080/black.exp3.json
static/live2d_models/Nahida_1080/Halfeyes.exp3.json
static/live2d_models/Nahida_1080/HandChange.exp3.json
static/live2d_models/Nahida_1080/Happy1.exp3.json
static/live2d_models/Nahida_1080/icon.jpg
static/live2d_models/Nahida_1080/kusa.exp3.json
static/live2d_models/Nahida_1080/mouthchange.exp3.json
static/live2d_models/Nahida_1080/Nahida_1080.cdi3.json
static/live2d_models/Nahida_1080/Nahida_1080.moc3
static/live2d_models/Nahida_1080/Nahida_1080.model3.json
static/live2d_models/Nahida_1080/Nahida_1080.physics3.json
static/live2d_models/Nahida_1080/Nahida_1080.vtube.json
static/live2d_models/Nahida_1080/Sad1.exp3.json
static/live2d_models/Nahida_1080/Sad2.exp3.json
static/live2d_models/Nahida_1080/shy_normal.exp3.json
static/live2d_models/Nahida_1080/Shy.exp3.json
static/live2d_models/Nahida_1080/StarEye.exp3.json
static/live2d_models/Nahida_1080/Wink.exp3.json
static/live2d_models/Nahida_1080/Nahida_1080.1024/texture_00.png
static/live2d_models/Nahida_1080/Nahida_1080.1024/texture_01.png
static/live2d_models/Nahida_1080/Nahida_1080.1024/texture_02.png
static/live2d_models/Nahida_1080/Nahida_1080.1024/texture_03.png
static/live2d_models/UG/1desk.exp3.json
static/live2d_models/UG/2mic.exp3.json
static/live2d_models/UG/3clever.exp3.json
static/live2d_models/UG/4OAO.exp3.json
static/live2d_models/UG/5QAQ.exp3.json
static/live2d_models/UG/6i gi a ri.exp3.json
static/live2d_models/UG/7keyboard.exp3.json
static/live2d_models/UG/8punch.exp3.json
static/live2d_models/UG/9.exp3.json
static/live2d_models/UG/icon.png
static/live2d_models/UG/items_pinned_to_model.json
static/live2d_models/UG/loop.motion3.json
static/live2d_models/UG/UGOfficial.cdi3.json
static/live2d_models/UG/UGOfficial.moc3
static/live2d_models/UG/ugofficial.model3.json
static/live2d_models/UG/UGOfficial.physics3.json
static/live2d_models/UG/ugofficial.vtube.json
static/live2d_models/UG/UGOfficial.2048/texture_00.png
static/live2d_models/UG/UGOfficial.2048/texture_01.png
static/live2d_models/芊芊/芊芊.cdi3.json
static/live2d_models/芊芊/芊芊.moc3
static/live2d_models/芊芊/芊芊.model3.json
static/live2d_models/芊芊/芊芊.physics3.json
static/live2d_models/芊芊/芊芊.vtube.json
static/live2d_models/芊芊/问号.exp3.json
static/live2d_models/芊芊/aixinyan.exp3.json
static/live2d_models/芊芊/baohuli.exp3.json
static/live2d_models/芊芊/bijiben.exp3.json
static/live2d_models/芊芊/bijiben2.exp3.json
static/live2d_models/芊芊/bixin.exp3.json
static/live2d_models/芊芊/changfa.exp3.json
static/live2d_models/芊芊/chuier.exp3.json
static/live2d_models/芊芊/dayouxi.exp3.json
static/live2d_models/芊芊/doudouyan.exp3.json
static/live2d_models/芊芊/duzui.exp3.json
static/live2d_models/芊芊/guzui.exp3.json
static/live2d_models/芊芊/heilian.exp3.json
static/live2d_models/芊芊/huatong.exp3.json
static/live2d_models/芊芊/huli.exp3.json
static/live2d_models/芊芊/items_pinned_to_model.json
static/live2d_models/芊芊/jingzi.exp3.json
static/live2d_models/芊芊/kongbaiyan.exp3.json
static/live2d_models/芊芊/lianhong.exp3.json
static/live2d_models/芊芊/lianhong2.exp3.json
static/live2d_models/芊芊/liuhan.exp3.json
static/live2d_models/芊芊/lunhuiyan.exp3.json
static/live2d_models/芊芊/qianyan.exp3.json
static/live2d_models/芊芊/shanzi.exp3.json
static/live2d_models/芊芊/shengqi.exp3.json
static/live2d_models/芊芊/shuangmawei.exp3.json
static/live2d_models/芊芊/tushe.exp3.json
static/live2d_models/芊芊/wenhao.exp3.json
static/live2d_models/芊芊/wenhao2.exp3.json
static/live2d_models/芊芊/wuyu.exp3.json
static/live2d_models/芊芊/xingxing.exp3.json
static/live2d_models/芊芊/xingxingyan.exp3.json
static/live2d_models/芊芊/yanlei.exp3.json
static/live2d_models/芊芊/yanzhu.exp3.json
static/live2d_models/芊芊/芊芊.4096/texture_00.png
static/live2d_models/芊芊/芊芊.4096/texture_01.png
static/live2d_models/芊芊/芊芊.4096/texture_02.png
static/live2d_models/芊芊/芊芊.4096/texture_03.png
static/live2d_models/芊芊/芊芊.4096/texture_04.png
